<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PodDemo3.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E064F79C1D48A11200C4DD5F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E064F7B51D48A11200C4DD5F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E064F7C01D48A11200C4DD5F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
